Body {
    background-image: url("noisy-texture-100x100-o21-d34-c-1f1c1c-t0.png");
    background-repeat: repeat;
    color: white;
}

h1 {
    font-family:Times;
    text-align: center;
    text-shadow: 2px 2px #9c9c9c;
    color: white;
    font-size: 50px;
}

ul {
    text-align: center;
    font-size: 25px;
}

p {
    text-align: center;
}

