Body {
    background-image: url("noisy-texture-100x100-o21-d34-c-1f1c1c-t0.png");
    background-repeat: repeat;
    color: white;
}

a {
    color: #0f991a;
}

#one {
    border: 2px solid gray;
    padding: 8px 10px;
}

#one a {
    text-align: center;
    display: block;
    margin: 0 auto;
    
}

#two {
    border: 2px solid gray;
    padding: 8px 10px;
}

#two a {
    text-align: center;
    display: block;
    margin: 0 auto;
}

h1 {
    font-family:Times;
    text-align: center;
    text-shadow: 2px 2px #9c9c9c;
    color: white;
    font-size: 25px;
}

h2 {
    font-family:Times;
    text-align: center;
    text-shadow: 2px 2px #9c9c9c;
    color: white;
    font-size: 15px;
}

p {
    text-align: center;
}

div {
    text-align: center;
}

.clickMe {
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    padding: 0.2em 0.4em;
    color: #000;
}
